body{
    margin: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Header */
header>nav{
    background-color: rgb(61, 61, 94);
    color: white;
    padding: 0% 22%;
}
nav{
    display: flex;
    justify-content: space-between;
}
    /* Liens Nav */
.liensnav>ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    padding: 3% 0%;
    width: 350px;
}
.liensnav a{
    text-decoration: none;
    color: white;
}
    /* Banner */
.banner{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 3%;
    background-color: rgb(253, 3, 107);
    color: white;
}
img{
    height: 150px;
}
/* Fin Header */

/* Section 1 */
.contenu1{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5% 15%;
}
.contenu1 h1{
    margin: 1%;
    color: rgb(61, 61, 94);
    font-size: 40px;
    margin-bottom: -1%;
}
.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.images img{
    margin: 20px;
    height: 230px;
    border-radius: 10px;
}
/* Fin section 1 */

/* Section 2 */
.contenu2{
    background-color: rgb(253, 3, 107);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 3% 15%;
}
.contenu2 h1{
    margin: 2%;
    font-size: 40px;
    text-align: center;
}
.texte2{
    display: flex;
    margin: 0% 22%;
    line-height: 1.75;
}
.texte2 p{
    margin-left: 5%;
    padding-bottom: 6%;
}
/* Fin Section2 */

/* Section 3 : Contact */
.contact{
    display: flex;
    flex-direction: column;
    padding: 3% 30%;
}
.contact h1{
    margin: 3% 0%;
    font-size: 40px;
    text-align: center;
}
.form>div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 3% 0%;
    font-size: 20px;
    color: gray;
}
.form input, textarea{
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom: groove 1px rgb(250, 243, 243);
    outline: none;
}
.form label{
    margin-bottom: 2%;
}
.bouton{
    display: flex;
    width: 80px;
    padding-top: 2%;
}
.bouton>button{
    background-color: rgb(253, 3, 107);
    border-radius: 5px;
    color: white;
    border: none;
    padding: 15% 10%;
    font-size: 16px;
}
/* Fin section 3 */

/* Footer */
.footer1{
    background-color: rgb(5, 5, 138);
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 2% 20%;
    color: white;
}
.location, .web, .about{
    padding: 2% 5%;
    flex: 1;
}
.web>i{
    margin: 0% 3%;
    width: 15px;
    padding: 3%;
    border: white solid 2px;
    border-radius: 50%;
}
.about span{
    color: turquoise;
}
.copyright{
    background-color: rgb(61, 61, 94);
    display: flex;
    justify-content: center;
    color: white;
    padding: 1%;
}
