body{
    margin: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Header */
header>nav{
    background-color: rgb(61, 61, 94);
    color: white;
    padding: 0% 22%;
}
nav{
    display: flex;
    justify-content: space-between;
}
    /* Liens Nav */
.liensnav>ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    padding: 3% 0%;
    width: 350px;
}
.liensnav a{
    text-decoration: none;
    color: white;
}
    /* Banner */
.banner{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 3%;
    background-color: rgb(253, 3, 107);
    color: white;
}
img{
    height: 150px;
}
/* Fin Header */

/* Section 1 */
